---
import { supabase } from "../lib/supabase";
import type Products from "../interface/productos";
import Layout from '../layouts/Layout.astro';
import AddToCartButton from "../components/Cart/AddToCartButton.svelte";


export const prerender = true;

export async function getStaticPaths() {
  const { data } = await supabase
    .from('Productos')
    .select('*');

  const productos: Products[] = data || [];

  function crearSlug(nombre: string) { //Formater para las URL
    return nombre.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');
  }

  return productos.map((producto) => ({
    params: { producto: crearSlug(producto.nombre_producto) },
    props: { producto },
  }));
}

const { producto } = Astro.props;
---

<Layout title={`Comprar ${producto.nombre_producto}`}>
  <main class="container mx-auto">
    <section class="flex flex-wrap">
      <div class="w-full md:w-1/2 p-4">
        <img src={producto.img_producto} alt={producto.nombre_producto} class="w-auto h-auto mx-auto" />
      </div>
      <div class="w-full md:w-1/2 p-4">
        <h1 class="text-3xl font-bold">{producto.nombre_producto}</h1>
        <p class="text-lg text-gray-600 overflow-auto">{producto.descripcion}</p>
        <p class="text-2xl font-bold text-purple-600">${producto.precio}</p>
        <AddToCartButton {producto} client:load client:visible />
      </div>
    </section>
  </main>
</Layout>