---
import Carrusel from '../components/Carrusel.astro';
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';

import { supabase } from '../lib/supabase'
import type Products from "../interface/productos";
import FormattUrl from "../components/FormattUrl.astro";

let { data, error } = await supabase
    .from('Productos')
    .select('*')
    .range(0, 8)

    if (error) {
        console.log(error)
    }

let Productos: Products[] = data || []
---

<Layout title="NexGenTec" description='Bienvenidos a nuestra tienda virtual, aquí podrás encontrar todo tipo de componentes para tu pc y entre otros producto tecnológicos.'>
	<main class="flex flex-col gap-4">

		<section class="relative">
			<video
			src="video/banner1.mp4"
			width="1440"
			height="320"
			class=" aspect-video w-full h-[50rem] object-cover"
			loop
			autoplay
			muted
			/>
			<div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-center gap-4 text-sm md:text-base text-white animate-fade-up animate-duration-1000 animate-ease-in-out ">
				<h1 class="animate-charcter font-semibold sm:text-8xl text-7xl  ">Descubre aquí todo lo que necesitas de tecnología</h1>
				<a href="" class="italic underline text-3xl transition-all hover:scale-110 ">Descubre aquí</a>
			</div>
		</section>

		<Section class="grid gap-4 mt-12 md:grid-cols-2 md:gap-8 xl:grid-cols-4">
			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-200 "
			href="/laptops">
				<img src="Laptop.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Portátiles</span>
			</a>

			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[400ms]"
			href="/desktops"
			>
				<img src="Desktop.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Escritorio</span>
			</a>

			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[600ms]"
			href="components"
			>
				<img src="Components.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Componentes</span>
			</a>
			
			<a
			class="flex flex-col items-center p-4 text-center rounded-lg border hover:shadow-md transition-all dark:hover:shadow-md animate-fade-up animate-duration-[1100ms] animate-ease-out animate-delay-[800ms]"
			href="accessories"
			>
				<img src="Accesorios.svg" alt="" width="35px">
				<span class="mt-2 text-sm font-medium">Accesorios</span>
			</a>
		</Section>
		
		<Carrusel/>

		<Section class=" mt-8">
			<h1 class=" text-2xl">Lo más vendido</h1>
			<article class=" grid gap-6 py-6 md:grid-cols-2 md:gap-10 xl:grid-cols-3">
				{
					Productos?.map((producto) => (
						<div class="flex flex-col flex-wrap gap-2">
							<img
								src={producto.img_producto}
								alt="Product image"
								class=" aspect-square rounded-lg object-cover border border-gray-200 w-full overflow-hidden "
							/>
							<div class="flex flex-col gap-1.5">
								<h3 class="font-semibold">{producto.nombre_producto}</h3>
								<span class="font-semibold">{producto.id_marca.nombre_marca}</span>
								<p class="font-semibold">${producto.precio}</p>
								<FormattUrl url={producto.nombre_producto} class='inline-flex items-center justify-center whitespace-nowrap text-sm font-medium transition-all bg-black text-white h-9 rounded-md px-3 hover:scale-105 hover:shadow-2xl'>Ver más del producto</FormattUrl>
							</div>
						</div>
					))}
			</article>
		</Section>

	</main>
</Layout>

<style>
	.animate-charcter {
		background-image: linear-gradient(
			-25deg,
			#fff800 0%,
			#7c0c9e 29%,
			#ff1361 67%,
			#fff800 100%
		);
		background-size: 200% auto;
		color: #fff;
		text-decoration: transparent;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 5s ease-in infinite;
	}

	@keyframes textclip {
		to {
			background-position: 200% center;
		}
	}
</style>
