---
import Section from "../components/Section.astro";
import Carrito from "../components/icons/Carrito.astro";
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";

async function mostrarCarrito() {
    const { data, error } = await supabase
    .from('Carrito')
    .select('*');

    if (error) console.error('Error mostrando el carrito:', error);
    else {
        console.log('Contenido del carrito:', data);
        // Aquí puedes iterar sobre `data` para mostrar los productos en la UI
    }
}
---

<Layout title="NexGenTec">
  <Section class=" flex mt-14">

    <article class="p-4 w-9/12">
      <h1 class="flex">
        <span>Carrito de compra</span>
        <span>(Descuento: 0%)</span>
      </h1>
      <hr />
      <table>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Subtotal</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <!-- {carritoProductos.map((producto) => (
            <tr key={producto.id_producto}>
              <td>{producto.nombre_producto}</td>
              <td>1</td> {/* Aquí puedes agregar lógica para mostrar la cantidad */}
              <td>${producto.precio}</td>
              <td>${producto.precio}</td>
              <td>
                <button onClick={() => eliminarProductoCarrito(producto.id_producto)}>
                  Eliminar
                </button>
              </td>
            </tr>
          ))} -->
        </tbody>
        <tfoot>
          <tr>
            <!-- <td colSpan={3}>Total</td>
            <td>${total}</td> -->
            <td><button>Comprar</button></td>
          </tr>
        </tfoot>
      </table>
    </article>

    <article class=" w-1/4 p-4">

      <h2 class=" flex gap-2"><img src="list.svg" alt="" />Resumen de la compra</h2>
      <hr />
      <span class="text-sm flex py-2">0 Producto(s) en el Carro de Compras</span>
      <div class=" flex justify-between">
          <span>Total</span>
          <span class=" font-bold">$0</span>
      </div>

      <div class=" mt-4">
          <span class=" flex gap-2 items-center mb-2">
            <img src="lock.svg" alt="" class="size-8" />Tu información es segura
          </span>
          <p class=" text-sm">
          No venderemos ni alquilaremos su información de contacto personal con
          fines de marketing.
          </p>
      </div>

      <div class=" mt-4">
          <span class=" flex gap-2 items-center mb-2">
            <img src="safe.svg" alt="" class="size-8" />Pago seguro
          </span>
          <p class=" text-sm">
            Toda la información se cifra y se transmite sin riesgo mediante un
            protocolo de capa de conexión segura SSL.
          </p>
      </div>
    </article>
  </Section>
</Layout>